.button
  padding: 13px 20px
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-size: 0.93rem
  &:hover
    cursor: pointer
  &_primary
    border: 1px solid $primary
    background: $primary
    color: $light
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: all 0.2s
    &:hover
      box-shadow: none
      border: 1px solid $light
      background: transparent
  &_outline
    border: 1px solid $light
    background: transparent
    color: $light
    transition: all 0.2s
    &:hover
      border: 1px solid $primary
      background: $primary
