.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding: 3rem 0 0 0
  &__wrap
    background: $black url('../../img/bg-lines-dark.svg')
    max-width: 63.07rem
    margin: auto
    padding: 2.5rem
    margin-top: -18.8rem
    margin-bottom: 3.714rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-bottom: 3.214rem
    margin-top: 0
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input-group
    display: flex
    flex-direction: column
    flex-basis: 44.5%
    margin-bottom: 3.25rem
    &_full-width
      flex-basis: 100%
      margin-bottom: 2rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.5rem
  &__button
    margin: auto
    font-size: 1.07rem
    padding: 1.15rem 4.2rem
  &__menu
    background: $dark
    padding: 4.285rem 0
